
<ion-side-menus   drag-content="false" >
      <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="right" >
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" side="left"></button>
      <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="myGoBack()"></button>
     
      <input type="text" style="width:280px;text-align:center" class="form-control" placeholder="Search"></input>
      <button class="button button-icon button-clear ion-ios-cart" side="right"></button>

      </ion-nav-buttons>

      </ion-nav-bar>


<ion-side-menu-content  drag-content="false">
    

   
   <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-buttons >
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" side="left"></button>
      <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="myGoBack()"></button>
     

      <button class="button button-icon button-clear ion-ios-cart" side="right"></button>

      </ion-nav-buttons>

    </ion-nav-bar>-->




<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      
    </ion-header-bar>
    <ion-content >
      <ion-list>
        <ion-item menu-close ng-click="login()">
            
         
           <div class="item-avatar" href="#" ><img src="img/user.jpg" style="left:100px;"><br> <br><br>&nbsp;Sign In   </img>  
           </div>
          
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>