<style>
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll-bar
{
	display: none;
	overflow:hidden;
}

</style>
<br>
<br>
<ion-scroll zooming="true" direction="y" style="width: 100%; height: 85%">
<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
  <ion-slide>
 
     <img style="max-width: 100%;" class="img-responsive" src="img/slide1.png">

  </ion-slide>
   <ion-slide>
 
     <img style="max-width: 100%;" class="img-responsive" src="img/slide1.png">

  </ion-slide>
   <ion-slide>
 
     <img style="max-width: 100%;" class="img-responsive" src="img/slide1.png">

  </ion-slide>
 
</ion-slide-box>
<hr class="divider">

<div class="row responsive-sm">
  Items bought by your friends
 </div>
 <div></div>

<div class="row responsive-sm">
<ion-scroll direction="x" class="wide-as-needed" style="overflow: hidden;">
			<a href="#/app/item/123"><img style="width:120px;height:90px;" class="button button-light img-responsiv img-thumbnail" src="img/headphone.jpg"></a>
			<img style="width:120px;height:90px;" class="button button-light img-responsiv img-thumbnail" src="img/headphone1.jpg">
			<img style="width:120px;height:90px;" class="button button-light img-responsiv img-thumbnail" src="img/headphone2.jpg">
			<img style="width:120px;height:90px;" class="button button-light img-responsiv img-thumbnail" src="img/headphone.jpg">
			<img style="width:120px;height:90px;" class="button button-light img-responsiv img-thumbnail" src="img/headphone1.jpg">
			<img style="width:120px;height:90px;" class="button button-light img-responsiv img-thumbnail" src="img/headphone2.jpg">
</ion-scroll>
</div>

<hr class="divider">
<div class="row responsive-sm">
  Suggested by experts
 </div>
 <div></div>

<div class="row responsive-sm">
<ion-scroll direction="x" class="wide-as-needed" style="overflow: hidden; font-size:10px">
			<div class="button button-light btn-default" style="width:250px; height:150px;">
			<div class="row">
			  <div class="col-md-8"> 
			  	<img style="width:120px;height:120px;" src="/img/iphone.jpg">
			  </div>
			  <div class="col-md-4">
			 
				&nbsp;&nbsp;<span style="color: #29A011;">★</span><span style="color: #29A011;">★</span><span style="color: #29A011;">★</span><span>★</span><span>★</span>
			   	<br>
			   
			   <div style="font-size:12px">Good Batter Life</div>
			   <div style="font-size:12px">Awesome camera</div>
			
			  </div>
			</div>
			
			</div>


			<div class="button button-light btn-default" style="width:250px; height:150px;">
			<div class="row">
			  <div class="col-md-8"> 
			  	<img style="width:120px;height:120px;" src="img/iphone.jpg">
			  </div>
			  <div class="col-md-4">
			 
				&nbsp;&nbsp;<span style="color: #29A011;">★</span><span style="color: #29A011;">★</span><span style="color: #29A011;">★</span><span>★</span><span>★</span>
			   	<br>
			   
			   <div style="font-size:12px">Good Batter Life</div>
			   <div style="font-size:12px">Awesome camera</div>
			
			  </div>
			</div>
			
			</div>


			<div class="button button-light btn-default" style="width:250px; height:150px;">
			<div class="row">
			  <div class="col-md-8"> 
			  	<img style="width:120px;height:120px;" src="img/iphone.jpg">
			  </div>
			  <div class="col-md-4">
			 
				&nbsp;&nbsp;<span style="color: #29A011;">★</span><span style="color: #29A011;">★</span><span style="color: #29A011;">★</span><span>★</span><span>★</span>
			   	<br>
			   
			   <div style="font-size:12px">Good Batter Life</div>
			   <div style="font-size:12px">Awesome camera</div>
			
			  </div>
			</div>
			
			</div>
	        
	      
</ion-scroll>
</div>

<hr class="divider">

<div class="row responsive-sm">
  Suggetsted based on your interest
 </div>
 <div></div>

<div class="row responsive-sm">
<ion-scroll direction="x" class="wide-as-needed" style="overflow: hidden;">
			<img style="width:120px;height:90px;" class="button img-responsiv img-thumbnail" src="img/headphone.jpg">
			<img style="width:120px;height:90px;" class="button img-responsiv img-thumbnail" src="img/headphone1.jpg">
			<img style="width:120px;height:90px;" class="button img-responsiv img-thumbnail" src="img/headphone2.jpg">
			<img style="width:120px;height:90px;" class="button img-responsiv img-thumbnail" src="img/headphone.jpg">
			<img style="width:120px;height:90px;" class="button img-responsiv img-thumbnail" src="img/headphone1.jpg">
			<img style="width:120px;height:90px;" class="button img-responsiv img-thumbnail" src="img/headphone2.jpg">
</ion-scroll>
</div>

<hr class="divider">
</ion-scroll>