
<ion-tabs class="tabs-striped  tabs-color-dark tabs-icon-only">
    
    <ion-tab  icon="ion-ios-home" ui-sref="app.home.social">
        <ion-nav-view name="tab-social" animation="slide-right-left">

        </ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-grid" ui-sref="app.home.catergory">
        <ion-nav-view name="tab-category" animation="slide-left-right"></ion-nav-view>
    </ion-tab>
    
</ion-tabs>


<!--<ion-view view-title="Home">
  <ion-content>
    

  </ion-content>
</ion-view>


<ion-tabs class="tabs-top tabs-background-light tabs-color-dark">

	<ion-tab title="C" href="#">
	<ion-view></ion-view>
	</ion-tab>

	<ion-tab title="S" href="#">
	<ion-view></ion-view>
	</ion-tab>

<ion-tabs>



<div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
    <div class="tabs">
      <a class="tab-item" href="#/social">Categories


      </a>
   
      <a class="tab-item active" href="#">
      <b> Social</b>
      </a>


    </div>
-->
