
<div>
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>


  </ion-header-bar>
  <ion-content>
   <br><br><br><br><br>
    <div class="row" ng-controller="FacebookOauth">
          <button style="width:60%;left:20%"class="button icon ion-social-facebook button-block button-positive" ng-click="facebookLogin()">&nbsp;Sign in with Facebook</button>
    </div>  
        
    <div class="row" ng-controller="GoogleOauth">
        <button style="width:60%;left:20%" class="button icon ion-social-google button-block button-assertive" ng-click="googleLogin()" type="submit">&nbsp;Sign in with Google</button>
    </div> 

    <div class="row"> 
          <button style="width:60%;left:20%" class="button button-block icon ion-social-twitter button-calm" type="submit">&nbsp;Sign in with Twitter</button>
        
    </div>
   
  </ion-content>
</ion-modal-view>
</div>