<style type="text/css">
	.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list a.item
{
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
}
</style>




<br><br>
<div class="row">
 <div class="col col-33">
 <ion-scroll zooming="true" direction="y" style="width: 100%; height: 85%">
 <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-light"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
             
           
            Group {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>
 </ion-scroll>
 </div>

 <div class="col">
 <ion-scroll zooming="true" direction="y" style="width: 100%; height: 85%">
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/headphone2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/headphone1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/headphone.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/headphone2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/headphone1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
 </div>
 </ion-scroll>
 </div>
 </div>
